﻿@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    @* Call the webservice to get the conversion numbers in wording *@
    function callWebService(value) {
        $.ajax({
            type: "POST",
            url: "/WebServiceWords.asmx/ConvertToWords",
            data: "{numb:'" + value + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                @* Get the value from webservice to be display in html  *@
                $('#answer').html(msg.d);
            }
        });
    }
</script>
@* Get the number to be pass to javascript function *@
@if (ViewBag.Number != null)
{
    <script type="text/javascript">
        var value = '@ViewBag.Number';
        callWebService(value);
    </script>
}

<div class="jumbotron">
    <h1>AKQA .NET TECH CHALLENGE</h1>
    <h3 style="color:red">@ViewBag.Message</h3>
    <form class="form-horizontal" action="@Url.Action("Index", "Home")" method="post">
        <div class="row">
            <div class="col-md-8">
                Questions
            </div>
            <div class="col-md-4">
                Result
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Person name :
            </div>
            <div class="col-md-4">
                @Html.TextBox("Name")
            </div>
            <div class="col-md-4">
                @ViewBag.Name
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                Number:
            </div>
            <div class="col-md-4">
                @Html.TextBox("Number")
            </div>
            <div class="col-md-4">
                <div id="answer"></div>
                <asp:Label ID="Label2" runat="server" Text=""></asp:Label>
            </div>
        </div>
        <div class="row note">
            <div class="col-md-8">
                *Note :<br />
                - It is not accept negative value<br />
                - If you have a decimal value it will round to the closest integer (2 decimals)<br />
                  e.g. 123.456 -> (123.46), 123.453 -> (123.45)
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </div>
    </form>
</div>
